@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

:root {
  --main-color: #e3e8e4;
  --primary-color: #363636;
  --main-font: "Playfair Display", serif;
  --secondary-font: "Open Sans", serif;
}

/* NAV START */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}

.logo {
  font-size: 1.5rem;
  font-family: var(--secondary-font);
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  color: black;
  margin-left: 4rem;
  transition: all 0.1s ease;
}

ul li a:hover {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 5px;
}

.btn-fill {
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-outline {
  padding: 10px 30px;
  background: transparent;
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-outline:hover {
  background: var(--primary-color);
  color: white;
}

/* NAV END */
/* HEADER START */
header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  margin-left: 6rem;
}

.main-headings {
  font-size: 4rem;
  font-family: var(--main-font);
  color: #0000004f;
  margin-bottom: 2rem;
}

.main-headings span {
  color: #000;
}

.primary-headings {
  max-width: 500px;
  font-family: sans-serif;
  line-height: 25px;
  margin-bottom: 2rem;
}

.img-container {
  width: 500px;
  height: 500px;
  background: var(--main-color);
  border-radius: 100%;
  margin-right: 50px;
}

.img-container img {
  width: 500px;
  height: 500px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 50%;
}
/* HEADER END */
